<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>Rows</key>
		<dict>
			<key>Row1</key>
			<dict>
				<key>Column1</key>
				<integer>0</integer>
				<key>Column2</key>
				<integer>1</integer>
				<key>Column3</key>
				<integer>0</integer>
				<key>Column4</key>
				<integer>0</integer>
				<key>Column5</key>
				<integer>0</integer>
			</dict>
			<key>Row2</key>
			<dict>
				<key>Column1</key>
				<integer>0</integer>
				<key>Column2</key>
				<integer>0</integer>
				<key>Column3</key>
				<integer>0</integer>
				<key>Column4</key>
				<integer>0</integer>
				<key>Column5</key>
				<integer>1</integer>
			</dict>
			<key>Row3</key>
			<dict>
				<key>Column1</key>
				<integer>0</integer>
				<key>Column2</key>
				<integer>1</integer>
				<key>Column3</key>
				<integer>0</integer>
				<key>Column4</key>
				<integer>0</integer>
				<key>Column5</key>
				<integer>0</integer>
			</dict>
			<key>Row4</key>
			<dict>
				<key>Column1</key>
				<integer>1</integer>
				<key>Column2</key>
				<integer>0</integer>
				<key>Column3</key>
				<integer>0</integer>
				<key>Column4</key>
				<integer>0</integer>
				<key>Column5</key>
				<integer>0</integer>
			</dict>
			<key>Row5</key>
			<dict>
				<key>Column1</key>
				<integer>0</integer>
				<key>Column2</key>
				<integer>0</integer>
				<key>Column3</key>
				<integer>0</integer>
				<key>Column4</key>
				<integer>1</integer>
				<key>Column5</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
